<li>
  <a href="http://odd-life.tokyo/feed-oddlife.rss" itemprop="sameAs">
    <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> RSS Feed
  </a>
</li>

<li>
  <a href="https://itunes.apple.com/jp/podcast/odd-life-style/id1200199009?mt=2" itemprop="sameAs">
    <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> iPhone / iTunes
  </a>
</li>

<li>
  <a href="http://subscribeonandroid.com/odd-life.tokyo/feed-oddlife.rss" itemprop="sameAs">
    <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> Android
  </a>
</li>
